<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>后台首页 - QAdmin后台模板 - iframe版演示</title>
    <meta name="keywords" content="qadmin,qadmin模板,后台模板,qadmin后台模板">
    <meta name="description" content="qadmin是一个轻量级后台模板,基于layui框架开发,简洁而不简单">
    <link rel="stylesheet" href="/iframe/layui/css/layui.css">
    <link rel="stylesheet" href="/iframe/admin/css/style.css">
    <script src="/iframe/layui/layui.js"></script>
    <script src="/iframe/js/jquery-3.3.1.min.js"></script>
    <script src="/iframe/js/vue.min.js"></script>
</head>
<body class="p20">


<h1>主体内容</h1>
<hr>
<p>当前路由: {$name}</p>

<p>本页仅作参考,实际内容自行修改</p>




<script src="/iframe/admin/js/config.js"></script>
<script src="/iframe/admin/js/script.js"></script>

</body>
</html>
